<script setup lang="ts">
import { ref } from 'vue';

const text = ref('')
const text1 = ref('')
function onInput(e:any){
    console.log(e)
    console.log(e.target.value)
    text.value = e.target.value
}
</script>
<template>
    <div>
        <input type="text" :value="text" @input="onInput" placeholder="Type here">
    </div>
    <div>{{ text }}</div>
    
    <hr>
    <div><input type="text" v-model="text1" placeholder="Type here2"></div>
    <div>{{ text1 }}</div>
</template>
<style scoped>

</style>